body{
    background: url("../images/road2.jpg") no-repeat scroll center top transparent;
    height: 100px;
}

.header{
    font-family: "Calibri";
    text-align:center;
    background-color:#8FA5AD;
    border-radius: 15px;
    font-size: 40px;
    height: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}

.fullCell{
    width: 100%;
}

.centeredText{
    text-align: center;
}

.centeredElement{
    margin: 0 auto;
}

.navButtonLeft{
    display: inline-block;
    float: left;
}

.navButtonRight{
     display: inline-block;
     float: right;
 }

.userLabel{
    text-align: center;
}

.homeInputPanel{
    width: 40%;
}

.tripTableUser{
    width: 60%;
}

.tripTableAdmin{
    width: 80%;
}

.userTable{
     width: 40%;
 }

.selectColumn{
    width:16px;text-align:center;
}

.tableButtonLeft{
    float: left;
    width: 30%;
}

.tableButtonRight{
    float: right;
    width: 30%;
}