body{
    background: url("../images/road2.jpg") no-repeat scroll center top transparent;
    height: 100px;
}

.header{
    text-align:center;
    background-color:grey;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    font-size: 25px
}

.fullCell{
    width: 100%;
}

.centeredText{
    text-align: center;
}

.centeredElement{
    margin: 0 auto;
}

.navButtonLeft{
    display: inline-block;
    float: left;
}

.navButtonRight{
     display: inline-block;
     float: right;
 }

.userLabel{
    text-align: center;
}

.homeInputPanel{
    width: 40%;
}

.tripTableUser{
    width: 60%;
}

.tripTableAdmin{
    width: 80%;
}

.userTable{
     width: 40%;
 }

.selectColumn{
    width:16px;text-align:center;
}

.tableButtonLeft{
    float: left;
    width: 30%;
}

.tableButtonRight{
    float: right;
    width: 30%;
}