body{
    background: url("../images/road1.jpg") no-repeat;
    background-size: 100%;
}

.fullCell{
    width: 100%;
}

.centeredText{
    text-align: center;
}

.centeredElement{
    margin: 0 auto;
}

.navButtonLeft{
    display: inline-block;
    float: left;
}

.navButtonRight{
     display: inline-block;
     float: right;
 }

.userLabel{

}

.homeInputPanel{
    width: 40%;
}

.userTable{
    width: 50%;
}

.selectColumn{
    width:16px;text-align:center;
}

.tableButtonLeft{
    float: left;
    width: 30%;
}

.tableButtonRight{
    float: right;
    width: 30%;
}